
*{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  background-color: black;

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  /* position: fixed;
  top: 100;
  left: 0;
  right: 0;
  z-index: 100; */
  max-width: 100%;
}

.logo{
margin-right: auto;
height: 60px;
padding: 20px;
cursor: pointer;
}

.searchBar{
display: flex;
justify-content: center;
margin-right: auto;
padding: 20px;
align-items: center;
}

.searchbox{
background-color: #fff;
border: none;
width: 400px;
height: 35px;
border-radius: 25px;
margin-right: 5px;
font-size: 20px;
font-weight: bolder;
padding: 5px 15px;
}

.search-icon{
color: white;
cursor: pointer;
}

.search-icon:hover{
height: 40px;
width: 30px;
cursor: pointer;
align-items: center;
color: rgb(235, 148, 18);
}

.heart-icon{
color: #fff;
width: 25px;
padding: 0px 50px;
margin: 0 auto;
cursor: pointer;
}

.heart-icon-filled{
color: red;
width: 25px;
padding: 0px 50px;
margin: 0 auto;
cursor: pointer;
}
.shop-icon{
color: rgb(235, 148, 18);
width: 25px;
margin-right: auto;
cursor: pointer;
}

.testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: grab;
  margin-top: 25px;
}


.testimonial-header{
  color: #fff;
}
.tuddrum-header{
  color: rgb(235, 148, 18);
}
.testimonial-review{
   color: #fff;
   font-weight: bolder;
   margin-top: 25px;
 }
.testimonial-brand{
  color: rgb(235, 148, 18);
  margin-top: 25px;
}

.testimonial-brand-logo{
  margin-top: 25px;
  border: 2px solid white;
}

